[
  {
    "remark": "李佳铭",
    "phone": "13591424392",
    "password": "Ln200596",
    "province": "辽宁省",
    "city": "沈阳市",
    "area": "大东区",
    "address": "辽宁省沈阳市大东区望花中街路边",
    "longitude": "123.480521",
    "latitude": "41.852588 ",
    "randomLocation": true,
    "enable": true,
    "desc": "打卡",
    "pushKey": "f2bb8fa4507a4681af7c25e6fbabe47b"
  }

]

